* {
  box-sizing: border-box;
}

body {
  background-color: #444;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.texto {
  color: aliceblue;
}

.texto-ilelao {
  color: red;
  text-align: center;
  text-shadow: 2px 3px black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  width: 100%;
  background-color: whitesmoke;
  transition: all 500ms;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  list-style: none;
}

li {
  float: right;
}

a {
  border-radius: 20px;
  padding: 13px 10px;
  color: black;
  text-decoration: none;
}

ul li a:hover {
  color: white;
  background-color: #444;
  transition: all 500ms;
}

li:hover {
  color: white;
}

.santos {
  height: 40px;
  width: 40px;
}
